@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

* {
    margin: 0;
    paddin: 0;
    box-sizing: border-box;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

/* header */

header {
    top: 0;
    width: 100%;
    line-height: 80px;
    padding: 0px 20px;
    position: fixed;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgb(168, 168, 168);
    z-index: 500;
}



/* logo */

.logo {
    line-height: 80px;
    display: inline-block;
}

.logo img {
    width: 99px;
    height: 25px;
    vertical-align: middle;
}




/* menu sinistro */

.menu-sx, .menu-dx {
    display: inline-block;
}


.menu-sx li, .menu-dx li{
    padding: 0px 20px;
    display: inline-block;
}

.menu-sx a, .menu-dx a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}


/* menu destro */

.menu-dx {
    float: right;
}

.menu-dx ul {
    display: inline-block;
}



/* bottone menu  */

.btn {
    display: inline-block;
    
    
}
.btn a {
    background-color: #0061ff;;
    font-size: 14px;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
}




/* jumbotron */

.jumbotron {
    background-color:#b4d0e7;
}

.container-jumbo {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    bottom: -80px;
}

.container-jumbo h1 {
    font-family: 'Antonio', sans-serif;
    font-size:68px;
    padding-top: 61px;
    padding-bottom: 30px;
}

.box-text-jumbo {
    width: 30%;
    float: left;
}

.text-jumbo1 {  
    margin-bottom: 30px;
    line-height: 25px;
}

.text-jumbo2 {
    margin: 15px 0px;
    font-size: 14px;
}

.box-text-jumbo i {
    margin: 47px 0px;
    font-size: 45px;
}


.box-img {
    width: 70%;
    float: left;
}

.box-img img {
    width: 100%;
}


/* sezione piano */

.sezione1 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 30px;   
}

.title-form {
    padding: 70px 0px;
}

.title-section {
    font-size: 40px;
}

.sezione1 form {
    width: 100%;
    margin-top: 100px;
}

.sezione1 input {
    font-size: 30px;
    width:20px; 
    height:20px;  
    vertical-align: middle;
}

.sezione1 label {
    margin-right: 20px;
    line-height: 20px;
    vertical-align: middle;
}




/* box */

.contentboxsez1 {
    display: block;
    border: 1px solid #000;
    margin-bottom: 30px;
}

.box1 {
    float: left;
    width: calc(100% / 3 - 40px);
    border: 1px solid #c2c2c2;
}

.box-central {
    margin: 0px 60px;
}

.title-box {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #c2c2c2;
}

.cont-box {
    padding: 20px;
}

.cont-box-title {
    padding: 20px;
}

.subtitle-box {
    font-size: 25px;
}

.box-prezzo { 
    margin: 10px 0px;
    font-weight: 800;
}

.n-utenti, .sp-archiviazione, .funzioni {
    padding: 10px 0px;
}

.btn-box {
    text-align: center;
    width: 100%;
    padding: 40px 0px 20px 0px;
}

.acquisto {
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.cont-box hr {
    width: 30%;
    margin: 20px 0px 30px 20px;
    color: #c2c2c2;
}

.cont-box h3 {
    margin: 20px 0px 30px 20px;
}

.cont-box ul {
    list-style-type: none;
}

.v {
    padding-bottom: 20px;
}




/* box bottom */

.box-bottom {
    margin-top: 40px;
    border: 1px solid #c2c2c2;
    width: 100%;
    height: 227px;
}

.cont-box-bottom {
    padding: 30px;
}

.cont-box-bottom h2 {
    font-size: 25px;
    display: inline-block;
}

.btn-box-bottom {
    float: right;
}

.btn-box-bottom a {
    font-size: 20px;
}

.cont-box-bottom span {
    font-weight: 800;
    padding: 20px 0px;
    display: block;
    font-size: 16px;
}

.cont-box-bottom p {
    font-size: 13px;
    display: block;
}




/* sezione contatti  */

.sezione2 {
    width: 75%;
    margin: 50px auto;
    display: block;
}

.sezione2 img {
    width: 580px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
}

.sez2-text-btn {
    vertical-align: middle;
    display: inline-block;
    width: 45%;
    padding: 0px 40px;
}

.sez2-text-btn h2 {
    padding: 20px 0px;
    
}

.sez2-text-btn p {
    line-height: 27px;
    padding: 10px 0px;
}

.btn-sez2 {
    padding: 30px 0px;
}

.btn-sez2 a {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
}




/* sezone Business */

.cont-box-sez3 {
    padding: 100px 0px 50px 0px;
} 
.sezione3 {
    width: 75%;
    margin: 100px auto;
}
.sezione3 h2 {
    font-size: 40px;
}

.box-sez3 {
    width: calc(100% / 3 - 10px);
    display: inline-block;
    text-align: left;
}

.box-sez3 img {
    width: 315px;
    height: 254px;
}
.box-sez3 h2 {
    padding: 20px 0px;
    font-size: 25px;
    text-align: left;
}
.box-sez3 p {
    line-height: 25px;
}




/* sezione team */

.title-sez4 {
    width: 75%;
    margin: 0 auto;
}

.title-sez4 h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.title-sez4 a {
    color: blue;
}

.title-sez4 a:hover {
    text-decoration: none;
}

.row-sez4 {
    width: 100%;
    margin: 0 auto;
}


.sez4-col {
    float: left;
    width: calc(100% / 3);
}

.sez4-colsx {
    
}

.sez4-img  {
    border: 1px solid #000;
    float: left;
    width: calc(100% / 2);
    padding: 30px;
    text-align: center;
    height: 221px;
}

.sez4-img img {
    width: 50%;
}

.sez4-img1 {
    background-color: #a2d39b;
}

.sez4-img2 {
    background-color: #61082b;
}

.sez4-img3 {
    background-color: #0093ce;
}

.sez4-img4 {
    background-color: #ff1c1c;
}

.sez4-colcx {

}

.sez4-coldx {

}








/* debug */

.debug main{
    width: 100%;
    background-color: blue;
    
}

.debug .sezione4 {
    background-color: green;
    height: 600px;
}

.debug .title-sez4 {
    background-color: grey;
}

.debug .row-sez4 {
    background-color: pink;
    height: 300px;
}

.debug .sez4-colsx {
    background-color: yellowgreen;
    height: 300px;
}

.debug .sez4-colcx {
    background-color: rebeccapurple;
    height: 300px;
}

.debug .sez4-coldx {
    background-color: wheat;
    height: 300px;
}

.debug .sezione5 {
    background-color: rgb(34, 0, 128);
    height: 600px;
}

.debug footer {
    width: 100%;
    background-color: yellow;
    height: 600px;
}

/* .debug .sezione3 {
    background-color: rebeccapurple;
    
}

.debug .box-sez3 {
    
    height: 600px;
    background-color: red;
} */