
* {
    margin: 0;
    paddin: 0;
    box-sizing: border-box;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

/* header */

header {
    top: 0;
    width: 100%;
    line-height: 80px;
    padding: 0px 20px;
    position: fixed;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgb(168, 168, 168);
}



/* logo */

.logo {
    line-height: 80px;
    display: inline-block;
}

.logo img {
    width: 99px;
    height: 25px;
    vertical-align: middle;
}




/* menu sinistro */

.menu-sx, .menu-dx {
    display: inline-block;
}


.menu-sx li, .menu-dx li{
    padding: 0px 20px;
    display: inline-block;
}

.menu-sx a, .menu-dx a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}


/* menu destro */

.menu-dx {
    float: right;
}

.menu-dx ul {
    display: inline-block;
}



/* bottone menu  */

.btn {
    display: inline-block;
    
    
}
.btn a {
    background-color: #0061ff;;
    font-size: 14px;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
}




/* jumbotron */

.jumbotron {
    background-color:#b4d0e7;
}

.container-jumbo {
    width: 90%;
    margin: 80px auto 0px;
    height: 688px;
}

.container-jumbo h1 {
    font-size:68px;
    padding-top: 61px;
    padding-bottom: 30px;
}

.box-text-jumbo {
    display: inline-block;
}

.text-jumbo1 {
    
    margin-bottom: 30px;
    line-height: 25px;
}

.text-jumbo2 {
    margin: 15px 0px;
    font-size: 14px;
}

.box-text-jumbo i {
    margin: 47px 0px;
    font-size: 45px;
}

.img-jumbo {
    display: inline-block;
    float: right;
    width: 900px;
    height: 534px;
}



/* debug */

.debug header {
    width: 100%;
    
    height: 80px;
}





.debug main{
    width: 100%;
    background-color: blue;
    height: 2000px;
}

.debug footer {
    width: 100%;
    background-color: yellow;
    height: 300px;
}